body{
    background-color: #0c000e;
}
.cabecalho{
    width: 100%;
    position: absolute;
    background-color: #2D0531;
}
.logo{
    position: absolute;
    float: left;
    height: 50px;
    bottom: 10px;
    left: 10px;
}
.resiliaflix{
    color: #BB0BAA;
    font-size: 25px;
    font-family: 'Anton', sans-serif;
    position: relative;
    left: 70px
}
.inicio{
    object-fit: cover;
    object position: 0 80%;
    height: 400px;
    width: 100%;
}
.legenda{
    position: absolute;
    padding-left: 850px;
    top: 200px;
    font-family: 'Cabin', sans-serif;
    color: white;
    text-shadow: 0px 0px 5px black;
}
.rodape{
    display: flex;
    flex-direction: row;
    height: 298px;
    width: 100%;
    left: 0px;
    top: 842px;
    color: #808080;
    background-color: #141414;
    justify-content: center;
    font-family: 'Cabin', sans-serif;
    font-size: 13px;
    text-align: left;
}
.textoRodape2{
    padding-left: 100px;
}
.resf{
    font-size: 11px;
    padding-top: 60px;
}